* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.wrap {
 width: 80%;
 margin: 5vh auto 0;
 font-family: 'open sans', roboto, sans-serif;
}
h1 {
 font-size: 50px;
 text-align: center;
 text-transform: uppercase;
 margin-bottom: 30px;
}
.game {
 display: flex;
 margin-bottom: 2vh;
}
.game div {
 height: 30vh;
 flex-grow: 1;
 margin: 10px;
 border: 3px solid gray;
 border-radius: 15px;
}
.play {
 text-align: center;
 height: 90px;
 display: flex;
 justify-content: center;
 margin: 10px auto;
}
.play input{
 font-size: 28px;
 border: 3px solid black;
 border-radius: 15px;
 text-align: center;
 margin-right: 20px;
}
.play button {
 width: 20%;
 font-size: 35px;
 text-align: center;
 text-transform: uppercase;
 background-color: #333;
 border: 3px solid #333;
 border-radius: 15px;
 color: white;
 cursor: pointer;
 letter-spacing: 6px;
 transition: .2s ease;
}
.play button:hover {
  color: #333;
  background-color: white;
}
.panel {
 margin: 30px auto;
 font-size: 26px;
 padding: 5px;
 border: 3px solid #333;
 border-radius: 15px;
 width: 350px;
 text-align: center;
}
.panel, .score {
 font-size: 26px;
 padding: 5px;
 border: 3px solid #333;
 border-radius: 15px;
 width: 350px;
 text-align: center;
 margin: 30px auto;
}
.panel span, .score span {
 font-weight: bold;
}

@media (max-width: 767px) {
 .wrap {
   width: 90%;
 }
 h1 {
  font-size: 35px;
 }
 .game div {
  height: 18vh;
  margin: 5px;
 }
 .play {
   flex-direction: column;
   height: auto;
 }
 .play input{
  height: 50px;
  width: 150px;
  display: block;
  margin: 20px auto;
  font-size: 20px;
 }
 .play button {
  height: 50px;
  width: 150px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
 }
 .panel {
  margin: 25px 0;
 }
 .panel, .score {
   width: auto;
   font-size: 24px;
 }
}